/* gallery.css */

body {
  background-color: var(--color-pale-gray);
}

.gallery {
  display: grid;
  width: 900px;
  background-color: var(--color-white);
  margin: 0 auto;
  padding: 20px;
  height: calc(100vh - 160px);
  overflow-y: auto;
}

/* 페이지 전체가 아니라, 갤러리 안에서만 스크롤 적용. */
.gallery__container {
  /* 스크롤은 카드가 3줄일 때부터 적용한다.*/
  /* 헤더랑 푸터 사이에 갤러리 컴포넌트를 넣을 것이기 때문에 위 아래는 비워놔야함. */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  gap: 20px;
  overflow-x: hidden;
}

.gallery__container-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-regular-gray);
  width: calc((100% / 4) - 20px);
  border-radius: 5px;
  box-shadow: var(--box-floating-shadow);
  /* 컨테이너 안에는 무조건 항상 1줄에 카드 4개씩, 그리고 3줄씩 보여야한다.
  단, 3번째 줄은 반만 보이게 해서 스크롤을 내려야 완전히 보이게 만든다. */
}

/* 마지막 줄의 카드들이 반만 보이도록 조정 */
.gallery__container > :nth-last-child(-n + 4) {
  grid-row: 3 / span 1; /* 마지막 4개의 카드를 3번째 줄에 반만 보이도록 설정 */
}

/* 카드 위에 마우스를 가져가면 약간 이미지가 커지는 효과 추가 */
.gallery__container-card.hover {
  transform: scale(1.05);
}

.gallery__container-image-area {
  display: flex;
  width: 100%;
  min-height: 200px;
}

.gallery__container-image-area img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.gallery__container-title {
  padding: 8px;
  font-weight: 900;
  font-size: var(--font-medium);
  color: var(--color-black);
  background-color: var(--color-white);
}

.gallery__container-date {
  padding: 0 8px 8px;
  font-size: var(--font-micro);
  color: var(--color-dark-gray);
  background-color: var(--color-white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
