.user-info__btns > button {
  width: var(--size-button-medium);
  height: var(--size-button-height);
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  background-color: var(--color-slate-blue);
  cursor: pointer;
  transition: 0.3s;
}

/* 사용자 정보 section */
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}
.user-info__lists-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 4rem;
  padding: 2rem 4rem;
}
/* 사용자 리스트 div */
.user-info__lists h1 {
  position: relative;
  font-size: var(--font-large);
  line-height: 2;
}
.user-info__lists h1::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-light-gray);
}

.user-info__list {
  position: relative;
  display: flex;
  align-items: center;
  margin: 18px 0;
}
.user-info__list > div {
  position: relative;
}
.user-info__list span {
  display: inline-block;
  width: 100px;
}
.user-info__list input {
  width: 16rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  padding: 0.5rem 1rem;
}
.user-info__list input::placeholder {
  font-size: var(--font-small);
}
.user-info__list input + .user-info__error {
  position: absolute;
  width: 100%;
  top: 104%;
  left: 0;
  color: var(--color-vivid-red);
  font-size: 10px;
}
.user-info__list select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
}

.user-info__list select::-ms-expand {
  display: none; /*for IE10,11*/
}

.user-info__list select {
  width: 16rem;
  padding: 7px 15px;
  font-size: var(--font-small);
  color: var(--color-dark-gray);
  background: url(/src/assets/images/arrow_down.svg) no-repeat 97% 50%/26px auto;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-light-gray);
}
.user-info__list select:disabled {
  border: none;
  color: var(--color-black);
  opacity: 1;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
}

.user-info__list select option:checked {
  background-color: var(--color-french-skyblue);
  color: white;
}

/* 버튼 */
.user-info__btns {
  display: flex;
  position: relative;

  gap: 10px;
}
.user-info__btns .user-info__btn--save:hover {
  background-color: var(--color-ocean-blue);
}
.user-info__btns .user-info__btn--cancel {
  background-color: var(--color-pale-gray);
  color: var(--color-dark-gray);
}
.user-info__btns .user-info__btn--cancel:hover {
  background-color: var(--color-light-gray);
}

.user-info__btns .user-info__btn--edit:hover {
  background-color: #eeeeee;
  color: var(--color-black);
}
.user-info__btns .user-info__btn--disable {
  background-color: var(--color-light-gray);
  color: var(--color-black);
  cursor: not-allowed;
}
/* 사용자 이미지 */
.user-info__profile {
  padding-top: 3.5rem;
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (max-width: 1023px) {
  .user-info {
    height: 100vh;
  }
  .user-info__lists-wrap {
    padding: 0;
  }
  .user-info__lists h1 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid var(--color-pale-gray);
    z-index: 10;
  }
  .user-info__lists h1::after {
    display: none;
  }
  .user-info__profile {
    padding-top: 1rem;
  }
  .user-info__btns {
    gap: 3rem;
    margin-top: 3rem;
  }
}
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .user-info {
    margin-bottom: 200px;
  }
  .user-info__lists-wrap {
    flex-direction: column;
    gap: 0;
  }
  .user-info__list {
    font-size: var(--font-small);
  }
  .user-info__list span {
    width: 80px;
  }
  .user-info__profile {
    padding-top: 6rem;
  }
  .user-info__btns {
    gap: 2rem;
  }
}
/* 모바일 세로 (해상도 ~ 479px)*/
@media screen and (max-width: 479px) {
}
/* 모바일 세로 (해상도 ~ 479px)*/
@media screen and (max-width: 375px) {
  .user-info__list input {
    width: 14rem;
  }
  .user-info__list select {
    width: 14rem;
  }

  .user-info__btns > button {
    width: var(--size-button-small);
  }
}
