.employee-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* width: var(--size-employee-list-width); */
  height: calc(100vh - 160px);
  white-space: nowrap;
  padding-top: 45px;
}

/* 직원등록,삭제 버튼 */
.employee-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  padding-bottom: 25px;
}

.employee-list__header__button {
  margin-left: 20px;
}
.employee-list__header__button .c-button {
  width: var(--size-button-small);
  height: var(--size-button-height);
  border: none;
  border-radius: 5px;
  font-size: var(--font-small);
  cursor: pointer;
  box-shadow: 1px 1px 1px #424a530a;
}

.employee-list__header__button .c-button-enroll {
  background-color: var(--color-ocean-blue);
  color: var(--color-white);
}

.employee-list__header__button .c-button-delete {
  background-color: var(--color-white);
  color: var(--color-vivid-red);
  border: 1px solid var(--color-pale-gray);
  margin-left: 8px;
}

/* 직원검색 */
.employee-list__header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.employee-list__header__search input {
  position: relative;
  width: var(--size-button-xlarge);
  height: var(--size-button-height);
  font-size: var(--font-small);
  padding-left: 2rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
}

/* 검색 아이콘 */
.employee-list form::after {
  display: block;
  position: absolute;
  top: 4px;
  left: 5px;
  width: 30px;
  height: 30px;
  filter: opacity(50%);
  background-image: url(/src/assets/images/search_icon.svg);
  background-repeat: no-repeat;
  content: ' ';
}

/* 검색 아이콘에 데이터가 입력되면 색깔이 어두워짐 */
.active form::after {
  filter: opacity(100%);
}

.employee-list__header__search input::placeholder {
  color: var(--color-dark-gray);
  font-size: var(--font-small);
}

/* 직원목록 */
.employee-list table {
  width: 900px;
  height: 507px;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: var(--font-small);
}
.employee-list table thead {
  border-bottom: 1px solid var(--color-pale-gray);
}
.employee-list table tbody tr {
  cursor: pointer;
}
.employee-list table label,
.employee-list .employee-list__header__search-form label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.employee-list table label .employee-list th:first-child {
  width: 0.5vw;
  padding-right: 0rem;
}
.employee-list tr:nth-child(2n) {
  background-color: rgba(152, 190, 255, 0.169); /* --color-jordy-blue / opacity: 0.169 */
}
.employee-list th,
.employee-list td {
  margin: 0;
  padding: 5px 8px;
  text-align: center;
}

.employee-list th {
  color: var(--color-black);
  font-weight: 400;
  line-height: 36px;
}
.employee-list td {
  color: var(--color-dark-gray);
}
.employee-list tr:hover td {
  color: var(--color-ocean-blue);
}
.employee-list tr {
  display: block;
  width: 900px;
  height: 46px;
}
.employee-list th:first-child,
.employee-list td:first-child {
  width: 54px;
}
.employee-list th:nth-child(2),
.employee-list td:nth-child(2) {
  width: 90px;
}
.employee-list th:nth-child(3),
.employee-list td:nth-child(3) {
  width: 81px;
}
.employee-list th:nth-child(4),
.employee-list td:nth-child(4) {
  width: 333px;
}
.employee-list th:nth-child(5),
.employee-list td:nth-child(5) {
  width: 270px;
}
.employee-list th:last-child,
.employee-list td:last-child {
  width: 72px;
}
.employee-list td img {
  display: block;
  width: 36px;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
}

.c-checkbox__input {
  cursor: pointer;
}
