<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/fonts.css" crossorigin />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./UserInfo.css" />
  </head>
  <body>
    <section class="header">메뉴</section>
    <section class="user-info">
      <div class="user-info__lists">
        <h1>임직원 정보등록</h1>
        <ul>
          <li class="user-info__list">
            <label for="user-id">
              <span>아이디</span>
            </label>
            <input type="text" id="user-id" name="user-id" />
          </li>
          <li class="user-info__list">
            <label for="user-password">
              <span>패스워드</span>
            </label>
            <input type="password" id="user-password" name="user-password" />
          </li>
          <li class="user-info__list">
            <label for="user-name">
              <span>이름</span>
            </label>
            <input type="text" id="user-name" name="user-name" />
          </li>
          <li class="user-info__list">
            <label for="user-email">
              <span>이메일</span>
            </label>
            <input type="email" id="user-email" name="user-email" />
          </li>
          <li class="user-info__list">
            <label for="user-phone">
              <span>휴대폰번호</span>
            </label>
            <input type="text" id="user-phone" name="user-phone" />
          </li>
          <li class="user-info__list">
            <label for="user-position"> <span>직급</span></label>
            <select id="user-position" name="user-position">
              <option value="부장">부장</option>
              <option value="차장">차장</option>
              <option value="과장">과장</option>
              <option value="대리" selected>대리</option>
            </select>
          </li>
          <div class="user-info__btn">
            <button class="btn btn--edit">취소</button>
            <button class="btn btn--save">저장</button>
          </div>
        </ul>
      </div>
      <div class="user-info__profile">
        <img
          src="https://cdn.pixabay.com/photo/2020/05/17/20/21/cat-5183427_1280.jpg"
          alt="profile"
        />
      </div>
    </section>
    <section class="footer">푸터</section>
  </body>
</html>
