body {
  max-width: none;
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.loader {
  z-index: 10;
}

svg path,
svg rect {
  fill: #4b49ac;
}
