/* setting.css */
.setting {
  padding: 20px;
}

.setting__title {
  display: none;
}

.setting__heading {
  font-size: var(--font-large);
  display: none;
}

.btn-logout {
  display: none;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 1023px 이하의 화면에서만 로그아웃 버튼 표시 */
@media screen and (max-width: 1023px) {
  .btn-logout {
    display: block;
  }
}
