.footer {
  position: relative;
  height: 80px;
  padding: 20px;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-pale-gray);
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  width: calc(100vw - 15rem);
  margin: 0 auto;
}
.footer__container h1 {
  font-family: 'Open Sans', sans-serif;
  flex-grow: 2;
}
.github__link {
  width: 30px;
  height: 30px;
}

.footer__title {
  display: flex;
  font-size: var(--font-large);
}
.footer__title img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.footer__title span {
  display: inline-block;
  line-height: 24px;
  color: var(--color-black);
}
.footer__contents {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}
.footer__copyright {
  font-size: var(--font-small);
  color: var(--color-dark-gray);
  line-height: 26px;
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width: 1024px) and (max-width: 1279px) {
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    display: none;
  }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .footer {
    display: none;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .footer {
    display: none;
  }
}
